body {
    font-family: Verdana, Geneva, Tahoma, Verdana, sans-serif;
    background: linear-gradient(135deg, #92ffc0, #002661);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    width: 300px;
}

h1 {
    text-align: center;
}

#taskInput {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #92ffc0;
    color: #002661;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #002661;
    color: #92ffc0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 5px 0;
    /*background-color: #d6e0ff;*/
    border-radius: 4px;
    border: 1px solid #ddd;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}